<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <li class="nav-item dropdown">
      <a class="navbar-brand" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fa-solid fa-flask"></i> {{ _('Remote Labs') }} ▼
      </a>
      {% if current_user.is_authenticated %}
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if JinStr(current_user.workingStatus[0]) != "spectator" %}
        <li>
          <a class="dropdown-item" href="/remote_lab1/">{{ _('Remote Lab (Node-red)') }}</a>
        </li>
        <li>
          <a class="dropdown-item" href="/remote_lab1_external/">{{ _('Remote Lab (external)') }}</a>
        </li>
        <li>
          <a class="dropdown-item" href="/remote_lab1_embedded3/">{{ _('Remote Lab 1 (embedded)') }}</a>
        </li>
        <li>
          <a class="dropdown-item" href="/remote_lab1_test/">{{ _('Remote Lab 1 (Test)') }}</a>
        </li>
        <li>
          <a class="dropdown-item" href="/remote_lab1_monitor/">{{ _('Remote Lab 1 Monitor') }}</a>
        </li>
        {% else %}
        <li>
          <a class="dropdown-item" href="/remote_lab1_monitor/">{{ _('Remote Lab (Monitor)') }}</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </li>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house"></i> {{ _('Home Page Button')
            }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa-solid fa-globe"></i> {{ _('Language') }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{{ url_for('change_language', language='en') }}">🇬🇧 English</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('change_language', language='el') }}">🇬🇷 Ελληνικά</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('change_language', language='es') }}">🇪🇸 Español</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('change_language', language='fr') }}">🇫🇷 Français</a>
            </li>
          </ul>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa-solid fa-bookmark"></i> {{ _('Bookings') }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/bookings/">{{ _('All Bookings') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/user_bookings/">{{ _('My Bookings') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/new_booking/"><i class="fa-solid fa-circle-plus"></i> {{ _('New Booking') }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa-solid fa-book"></i> {{ _('Article Button') }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/articles_by_author/{{ current_user.get_id() }}">{{ _('My Sketches') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/new_sketch/"><i class="fa-solid fa-circle-plus"></i> {{ _('New Sketch') }}</a>
            </li>
          </ul>
        </li>
        {% if JinStr(current_user.workingStatus[0]) != "spectator" %}
        {% if JinStr(current_user.workingStatus[0]) != "moodleowner"%}
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa-solid fa-file-code"></i> {{ _('Activities') }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/activities_active/">{{ _('Activities') }}</a>
            </li>
            {% if current_user.usergroup=="admin" %}
            <li>
              <a class="dropdown-item" href="/activities_by_author/{{ current_user.get_id() }}">{{ _('User Activities') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/new_activity/"><i class="fa-solid fa-circle-plus"></i> {{ _('New Activity') }}</a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% if panel_data.ActiveActivityID != '-1' %}
        <li class="nav-item">
          <a class="nav-link" href="/activity_status/">{{ _('Activity Status') }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% if current_user.usergroup=="admin" %}
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa-solid fa-gear"></i> {{ _('System Management') }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/ShowWorkingSessions/">{{ _('Connected Users') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/config/">{{ _('Application Settings') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/change_usergroup/">{{ _('User Group Settings') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/admin_bookings/">{{ _('Booking Management') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/microactivities/">{{ _('Microactivities') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/check_code/">{{ _('Machine Learning Check') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Collect_Controller_data/">{{ _('Report Shadow Microcontroller') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/monitor_shadow_controller/">{{ _('Show Serial Shadow Microcontroller') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/getShadowReport2/">{{ _('Show I2C Shadow Microcontroller') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/getShadowReport/">{{ _('Show I2C Shadow All Pins') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/getShadowReport3/">Read Shadow Report</a>
            </li>
            <li>
              <a class="dropdown-item" href="/t1_general_meta">{{ _('Lab General Metadata Fields') }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/chat_page">chat GPT</a>
            </li>
          </ul>
        </li>
        {% endif %}
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <span class="navbar-text countdown-timer" id="countdownTimer"></span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img class="rounded-circle navbar-profile-image"
              src="{{ url_for('static', filename='images/profiles_images/'+current_user.profile_image) }}"
              alt="{{ current_user.username }}" data-holder-rendered="true" data-bs-toggle="tooltip"
              data-bs-placement="top" title="{{ current_user.username }}">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/account/"><i class="fa-solid fa-user-gear"></i> {{ current_user.username }}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/logout/"><i class="fa-solid fa-right-from-bracket"></i> {{ _('Logout') }}</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/signup/"><i class="fa-solid fa-user-plus"></i> {{ _('Sign Up') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login_lab/"><i class="fa-solid fa-right-to-bracket"></i> {{ _('Log In') }}</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% if current_user.usergroup != "admin" %}
  {% if panel_data.user_role != "spectator" %}
    {% if panel_data.BookingSystem == False %}
      <script>
        // Countdown timer function for BookingSystem OFF
        function countdownTimer() {
          const loginTime = new Date('{{ panel_data.user_loggedTime }}');
          // Adjust stored login time if needed
          loginTime.setHours(loginTime.getHours() + 3);
          const TimerMinutes = '{{ panel_data.TimerMinutes }}';
          const targetDate = new Date(loginTime.getTime() + TimerMinutes * 60000);

          // Start the timer and store the interval ID
          const intervalID = setInterval(function () {
            const now = new Date();
            const remainingTime = targetDate - now;

            if (remainingTime > 0) {
              const days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
              const hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
              const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
              const timerString = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
              document.getElementById("countdownTimer").textContent = timerString;
            } else {
              // Time expired: clear the timer and trigger logout once
              clearInterval(intervalID);
              document.getElementById("countdownTimer").textContent = "{{ _('Time Expired') }}";
              logoutUser();
            }
          }, 1000);
        }

        // Logout user function
        function logoutUser() {
          window.location.href = "/logout/";
        }

        document.addEventListener("DOMContentLoaded", countdownTimer);
      </script>
    {% else %}
      <script>
        // Countdown timer function for the alternative branch
        function countdownTimer() {
          var loginTime = new Date();  // Current time
          loginTime.setHours(loginTime.getHours());
          const currentHour = loginTime.getHours();
          const targetHour = currentHour.toString().padStart(2, '0');
          const targetDateTime = new Date();
          targetDateTime.setHours(targetHour, 59, 59);

          // Start the timer and store the interval ID
          const intervalID = setInterval(function () {
            const now = new Date();
            const remainingTime = targetDateTime.getTime() - now.getTime();

            if (remainingTime > 0) {
              const days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
              const hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
              const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
              const timerString = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
              document.getElementById("countdownTimer").textContent = timerString;
            } else {
              // Time expired: clear the timer and trigger logout and maintenance once
              clearInterval(intervalID);
              document.getElementById("countdownTimer").textContent = "{{ _('Time Expired') }}";
              logoutUser();
              initiateMaintenance();
            }
          }, 1000);
        }

        // Logout user function
        function logoutUser() {
          window.location.href = "/logout/";
        }

        // Initiate maintenance function
        function initiateMaintenance() {
          window.location.href = "/InitiateMaintenance/48/";
        }

        document.addEventListener("DOMContentLoaded", countdownTimer);
      </script>
    {% endif %}
  {% endif %}
{% endif %}