{% extends "base.html" %}


{% block title %}
    Remote Lab Embedded
{% endblock title %}


{% block content %} 
<table class="my-3 p-3 bg-body rounded shadow-sm" style="width: 100%;">
  <tr>
    <td style="width: 50%;" rowspan="2">
      <!-- First Object -->
      <object data="http://192.168.1.3:8554" width="800" height="600"></object>
      <a href="http://garefalakis.hopto.org:8554" target="_blank">Open video in new tab</a>

      <!-- Second Object -->
      <div class="row my-3 p-3 bg-body rounded shadow-sm">
        <object data="http://192.168.1.4:8555" width="600" height="600"></object>
      </div>
    </td>
    <td style="width: 50%;">
      <!-- Form on the right side -->
      <div class='media-left'>
        <h2>Actuators</h2>
        <!-- Your checkbox form content here -->
        <form id="myForm">
          <label for="checkbox1"><h3>Yellow Button:</h3></label>
          <input type="checkbox" id="checkbox1" name="checkbox1"><br>

          <label for="checkbox2"><h3>Red Button:</h3></label>
          <input type="checkbox" id="checkbox2" name="checkbox2"><br>

          <label for="checkbox3"><h3>Heater:</h3></label>
          <input type="checkbox" id="checkbox3" name="checkbox3"><br>

          <label for="checkbox4"><h3>Fan:</h3></label>
          <input type="checkbox" id="checkbox4" name="checkbox4"><br>

          <label for="checkbox5"><h3>Light:</h3></label>
          <input type="checkbox" id="checkbox5" name="checkbox5"><br>
          <!-- Add more checkboxes as needed -->

          <h2>Potentiometer</h2>
          <!-- Your slider input here -->
          <input type="range" id="slider" name="slider" min="1" max="10" step="1" value="0">
        </form>
      </div>
    </td>
  </tr>
</table>

<!-- Textbox to display serial data -->
<div class="row my-3 p-3 bg-body rounded shadow-sm">
  <textarea id="serialData" rows="10" cols="50"></textarea>
</div>
<script>
  // Flag to track if serial port has been opened
  var serialPortOpened = false;

  function updateSerialData(data) {
    var textarea = document.getElementById("serialData");
    textarea.value += data + "\n";  // Append data to textarea with a newline
  }

  function fetchSerialData() {
  // Check if serial port has been opened
  if (!serialPortOpened) {
      // Make AJAX request to open serial port
      fetch('/serial-experiment-open/')
      .then(response => {
        // Check if serial port was opened successfully
        if (response.ok) {
          serialPortOpened = true;
          console.log('Serial port opened successfully.');
        } else {
          console.error('Error opening serial port:', response.statusText);
        }
      })
      .catch(error => console.error('Error opening serial port:', error));
    }
  
  
    // Make AJAX request to fetch serial data
    fetch('/serial-data/')
    .then(response => response.json())
    .then(data => updateSerialData(data.data))
    .catch(error => console.error('Error fetching serial data:', error));
  }

  // Call fetchSerialData() repeatedly to fetch serial data continuously
  setInterval(fetchSerialData, 1000);  // Adjust interval as needed
  // Close the serial port when the user leaves the page
  window.addEventListener('beforeunload', function(event) {
    // Make AJAX request to close the serial port
    fetch('/serial-experiment-close/')
    .then(response => {
      if (response.ok) {
        console.log('Serial port closed successfully.');
      } else {
        console.error('Error closing serial port:', response.statusText);
      }
    })
    .catch(error => console.error('Error closing serial port:', error));
  });
</script>         
            <script>

            function updateCheckboxStates() {
              $.get('/checkbox-states', function(response) {
                // Iterate through the response and update the checkbox states
                for (var checkboxId in response) {
                  var checkboxState = response[checkboxId];
                  $('#' + checkboxId).prop('checked', checkboxState);
                }
              });
            }
        
            

            function updateSliderValue() {
                $.get('/get-slider-value', function(response) {
                  var sliderValue = response.pot1;
                  var minSliderValue = $('#slider').attr('min');  // Get the minimum value of the slider
                  var maxSliderValue = $('#slider').attr('max');  // Get the maximum value of the slider
                  
                  // Ensure the sliderValue is within the range of the slider
                  sliderValue = Math.min(Math.max(sliderValue, minSliderValue), maxSliderValue);

                  $('#slider').val(sliderValue);  // Update the slider value
                }).fail(function(xhr, status, error) {
                  console.log(error);  // Log any errors to the console
                });
              }


            // Update the slider value when the page loads
            updateSliderValue();
            // Update the checkbox states when the page loads
            updateCheckboxStates();


              $(document).ready(function() {
                $('#myForm input[type="checkbox"]').change(function() {
                  var checkboxId = $(this).attr('id');
                  var checkboxState = $(this).is(':checked');
          
                  if (checkboxState) {
                    $.get('/checkbox/' + checkboxId + '/on');
                  } else {
                    $.get('/checkbox/' + checkboxId + '/off');
                  }
                });
          
                $('#slider').on('input', function() {
                  var sliderValue = $(this).val();
                  $.get('/slider/' + sliderValue +'/');
                });
              });
            </script>
          
          
          </div>
        </div>
      </div>
      <div class="row my-3 p-3 bg-body rounded shadow-sm">
        
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
          
      </div>
    </div>
          

{% endblock content %}


