{% extends "base.html" %}


{% block title %}
    Remote Lab Embedded
{% endblock title %}


{% block content %} 
<table class="my-3 p-3 bg-body rounded shadow-sm" style="width: 100%;">
  <tr>
    <td style="width: 50%;" rowspan="2">
      <!-- First Object -->
      <object data="http://192.168.1.3:8554" width="800" height="600"></object>
      <a href="http://garefalakis.hopto.org:8554" target="_blank">Open video in new tab</a>

      <!-- Second Object -->
      <div class="row my-3 p-3 bg-body rounded shadow-sm">
        <object data="http://192.168.1.4:8555" width="600" height="600"></object>
      </div>
    </td>
    <td style="width: 50%;">
      <!-- Form on the right side -->
      <div class='media-left'>
        <h2>Ενεργοποιητές</h2>
        <!-- Your checkbox form content here -->
        <form id="myForm">
          <label for="checkbox1">Κίτρινο Κουμπί:</label>
          <input type="checkbox" id="checkbox1" name="checkbox1"><br>

          <label for="checkbox2">Κόκκινο Κουμπί:</label>
          <input type="checkbox" id="checkbox2" name="checkbox2"><br>

          <label for="checkbox3">Θέρμανση:</label>
          <input type="checkbox" id="checkbox3" name="checkbox3"><br>

          <label for="checkbox4">Ανεμιστήρας:</label>
          <input type="checkbox" id="checkbox4" name="checkbox4"><br>

          <label for="checkbox5">Φωτισμός:</label>
          <input type="checkbox" id="checkbox5" name="checkbox5"><br>
          <!-- Add more checkboxes as needed -->

          <h2>Ποτενσιόμετρο</h2>
          <!-- Your slider input here -->
          <input type="range" id="slider" name="slider" min="1" max="10" step="1" value="0">
        </form>
      </div>
    </td>
  </tr>
</table>

            
            <script>

            function updateCheckboxStates() {
              $.get('/checkbox-states', function(response) {
                // Iterate through the response and update the checkbox states
                for (var checkboxId in response) {
                  var checkboxState = response[checkboxId];
                  $('#' + checkboxId).prop('checked', checkboxState);
                }
              });
            }
        
            

            function updateSliderValue() {
                $.get('/get-slider-value', function(response) {
                  var sliderValue = response.pot1;
                  var minSliderValue = $('#slider').attr('min');  // Get the minimum value of the slider
                  var maxSliderValue = $('#slider').attr('max');  // Get the maximum value of the slider
                  
                  // Ensure the sliderValue is within the range of the slider
                  sliderValue = Math.min(Math.max(sliderValue, minSliderValue), maxSliderValue);

                  $('#slider').val(sliderValue);  // Update the slider value
                }).fail(function(xhr, status, error) {
                  console.log(error);  // Log any errors to the console
                });
              }


            // Update the slider value when the page loads
            updateSliderValue();
            // Update the checkbox states when the page loads
            updateCheckboxStates();


              $(document).ready(function() {
                $('#myForm input[type="checkbox"]').change(function() {
                  var checkboxId = $(this).attr('id');
                  var checkboxState = $(this).is(':checked');
          
                  if (checkboxState) {
                    $.get('/checkbox/' + checkboxId + '/on');
                  } else {
                    $.get('/checkbox/' + checkboxId + '/off');
                  }
                });
          
                $('#slider').on('input', function() {
                  var sliderValue = $(this).val();
                  $.get('/slider/' + sliderValue +'/');
                });
              });
            </script>
          
          
          </div>
        </div>
      </div>
      <div class="row my-3 p-3 bg-body rounded shadow-sm">
        
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
          
      </div>
    </div>
          

{% endblock content %}


